.root {
    -fx-font-family: Consolas;
    -fx-smooth: true;
    -fx-border-color: #1a1a1a;
    -fx-border-width: 5px;
}

.label {
    -fx-text-fill: #d0d0d0;
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

.scroll-pane {
    -fx-background-color: #262626;
}

.split-pane > .split-pane-divider {
    -fx-padding: 0 0 0 0;
}

.bg-dark {
    -fx-background-color: #262626;
}

.bg-very-dark {
    -fx-background-color: #1d1d1d;
}

.bg-light-dark {
    -fx-background-color: #2d2d2d;
}

.control-button {
    -fx-text-fill: #d0d0d0;
    -fx-background-color: #1d1d1d;
}

.control-button:hover {
    -fx-background-color: #3b3b3b;
}

.control-button-close {
    -fx-text-fill: #d0d0d0;
    -fx-background-color: #1d1d1d;
}

.control-button-close:hover {
    -fx-background-color: #800b0b;
}

.square-button {
    -fx-padding: 0;
    -fx-end-margin: 0;
    -fx-start-margin: 0;
    -fx-border-width: 0;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
    -fx-text-fill: #d0d0d0;
    -fx-background-color: #2d2d2d;
    -fx-font-size: 12px;
}

.square-button:hover {
    -fx-background-color: #3a3c41;
}

.title-bar-text {
    -fx-text-fill: #d0d0d0;
    -fx-font-size: 15px;
}